p{
     font-style:italic;
    color: blueviolet;
    font-size: 50px;
     text-align: center;
     text-shadow: 70px;
    position: right;
    margin-top: 70px;
}
form{
    text-align: center;
}
    
